<div class="accordion">
<div class="container">
	<div class="col-md-4">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Admissions
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseOne" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/admissions.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		  	<div class="panel panel-default">
		  		<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Academics
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseTwo" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/academics.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		</div><!-- accordion -->
	</div><!-- col-md-4 -->
	<div class="col-md-4">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Campus Life
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseThree" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/campus_life.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		  	<div class="panel panel-default">
		  		<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Athletics
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseFour" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/athletics.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		</div><!-- accordion -->
	</div><!-- col-md-4 -->
	<div class="col-md-4">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Special Programs
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseFive" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/special_programs.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		  	<div class="panel panel-default">
		  		<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
				<div class="panel-heading">
			  		<h4 class="panel-title center-block">
				  			Events
			  		</h4>
				</div><!-- panel-heading -->
				</a>
				<div id="collapseSix" class="panel-collapse collapse">
			  		<div class="panel-body">
						{% include menus/events.html %}
			  		</div><!-- panel-body -->
				</div><!-- panel-collapse collapse -->
		  	</div><!-- panel panel-default -->
		</div><!-- accordion -->
	</div><!-- col-md-4 -->
</div>
</div><!-- accourdion -->