<img class="logofooter" src="http://sunyfredonia.github.io/homepage/img/fredlogowhite.png">
<address>
<a style="font-family:helvetica;color:white;" href="{{ site.baseurl }}/"><!--<img src="http://sunyfredonia.github.io/homepage/img/fredlogowhite.png" style="height:70px;padding-bottom:10px;padding-right:3px;"></br>--></a></br>
280 Central Ave.<br>
Fredonia, NY 14063<br>
716-673-3111
</address>
<address>© 20{{ site.time | date: '%y' }} Fredonia | <a href="http://www.fredonia.edu/search/privacy.asp">Privacy</a></address>
