<div class="mission">
<hr>
<div class="center-block"> 
<h1>Our Mission</h1>
<div class="container">
	<p class="lead">Fredonia educates, challenges, and inspires students to become skilled, connected, creative, and responsible global citizens and professionals. The university enriches the world through scholarship, artistic expression, community engagement, and entrepreneurship.</p>
	<a href="http://www.fredonia.edu/about/"><button type="button" class="btn btn-success">About</button></a>
	<a href="http://www.fredonia.edu/foundation/"><button type="button" class="btn btn-success">Giving</button></a>
  	<a href="http://www.fredonia.edu/admissions/visit.asp"><button type="button" class="btn btn-success">Visit</button></a>
  	<a href="http://www.fredonia.edu/admissions/apply.asp"><button type="button" class="btn btn-primary">Apply</button></a>
</div><!-- container -->
</div><!-- centered -->
<hr>
</div><!-- mission -->
