<nav class="navbar navbar-inverse navbar-fixed-top yamm" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      			<span class="sr-only">Toggle navigation</span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" style="font-family:helvetica;color:white;" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/fredlogowhite.png"></a>
  		</div><!-- navbar-header -->
  			
  		<!-- Collect the nav links, forms, and other content for toggling -->
 	
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav navbar-right">
      			{% include navs/admissions-nav.html %}
				{% include navs/students-nav.html %}
      			{% include navs/faculty-staff-nav.html %}
				{% include navs/alumni-nav.html %}
				{% include navs/tools-nav.html %}
				{% include navs/search-nav.html %}
    		</ul>
    	</div><!-- collapse navbar-collapse -->
	</div><!-- container -->
</nav><!-- navbar -->
