<p><a href="http://www.fredonia.edu/catalog">Catalog</a></p>
<p><a href="https://connect.fredonia.edu/yourconnection/bwckctlg.p_disp_dyn_ctlg">Course Descriptions<span class="smalltext"><br /> (Banner search)</span></a></p>
<p><a href="https://connect.fredonia.edu/yourconnection/bwckschd_frd.p_disp_dyn_sched">Courses by Term<span class="smalltext"><br /> (Banner search)</span></a></p>
<p><a href="https://connect.fredonia.edu/yourconnection/bwckschd_frd.p_disp_dyn_sched">Non-Credit<span class="smalltext"><br /> (Banner search)</span></a></p>
<!-- p><a href="http://www.fredonia.edu/registrar/finalexam.asp">Final Exam Schedule</a></p-->
<p><a href="http://www.fredonia.edu/registrar/">Registrar</a></p>
<p><a href="https://connect.fredonia.edu/yourconnection/FRD_TransArt.P_TransArt">Transfer Credit Equivalencies</a></p>
<p><a href="https://connect.fredonia.edu/yourconnection">Your Connection<span class="smalltext"><br /> (log-in required)</span></a></p>