<p><a href="http://www.fredonia.edu/admin/accounting/">Accounting Office</a></p>
<p><a href="http://www.fredonia.edu/admin/budget/">Budget Office</a></p>
<p><a href="http://www.fredonia.edu/eap/">Employee Assistance Program (EAP)</a></p>
<p><a href="http://www.fredonia.edu/admin/envhealth/">Env. Health &amp; Safety</a></p>
<p><a href="http://www.fredonia.edu/facilities/">Facilities Services</a></p>
<p><a href="http://www.fredonia.edu/admin/cfm/">Facilities Planning</a></p>
<p><a href="http://fsa.fredonia.edu">FSA</a></p>
<p><a href="http://www.fredonia.edu/humanresources/">Human Resources</a></p>
<p><a href="http://www.fredonia.edu/admin/ic/">Internal Control</a></p>
<p><a href="http://www.fredonia.edu/admin/payroll/">Payroll Office</a></p>
<p><a href="https://careers.fredonia.edu/hr">PeopleAdmin <br />internal users login</a></p>
<p><a href="http://www.fredonia.edu/admin/purchasing/">Purchasing Office</a></p>
<p><a href="http://www.fredonia.edu/admin/RevenueAccounting/">Revenue Accounting</a></p>
<p><a href="http://www.fredonia.edu/admin/StudentAccounts/">Student Accounts</a></p>
<p><a href="http://www.fredonia.edu/admin/payroll/student.asp">Student Payroll</a></p>