<p><a href="http://www.fredonia.edu/reslife/aerobicCenter.asp">Aerobics and Wellness</a></p>
<p><a href="http://www.fredonia.edu/reslife/almostHome.asp">Almost Home Contest</a></p>
<p><a href="http://fsa.fredonia.edu/cabletv/">Cable Guide</a></p>
<p><a href="http://www.fredonia.edu/counsepng/">Counseling Center</a></p>
<p><a href="http://www.fredonia.edu/res_admin/resnet/fredcardDooraccess.asp">Door Access</a></p>
<p><a href="http://www.fredonia.edu/healthcenter/">Health Center</a></p>
<p><a href="http://www.fredonia.edu/admin/StudentAccounts/tuition.asp">Housing Costs</a></p>
<p><a href="http://www.fredonia.edu/facilities/maintreq.asp">Request Maintenance<br /> (residence halls)</a></p>
<p><a href="http://www.fredonia.edu/reslife/">Residence Life and Residence Halls</a></p>
<p><a href="http://www.fredonia.edu/resnet/">ResNet Services</a></p>
<p><a href="http://www.fredonia.edu/reslife/studentMonth.asp">Student of the Month</a></p>
<p><a href="http://www.fredonia.edu/reslife/unicom.asp">University Commons</a></p>
