<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admissions <b class="caret"></b></a>
    <ul class="dropdown-menu">
		<li>
        	<div class="yamm-content">
				<div class="row">
					<!-- More -->
		            <div class="col-md-2">
		            	<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/admissions/apply.asp">
								<button type="button" class="btn btn-primary">Apply</button>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/lifelong/">
								<h3>Visit Us</h3>
							</a>
							<a href="http://www.fredonia.edu/lifelong/">
								<h3>Visit Us</h3>
							</a>
							<a href="http://www.fredonia.edu/lifelong/">
								<h3>Contact</h3>
							</a>
            			</div><!-- thumbnail fred-menu -->
            		</div><!-- col-md-2 -->
					<!-- FRESHMEN -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/admissions/">
								<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" alt="..." class="img-responsive">
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3><b>Freshmen</b></h3>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
					<!-- TRANFSFERS -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/admissions/">
								<img src="http://www.fredonia.edu/admissions/images/landing/transfers.jpg" alt="..." class="img-responsive">
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3><b>Transfers</b></h3>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
					<!-- INTERNATIONAL -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/internationaleducation/">
								<img src="http://www.fredonia.edu/admissions/images/landing/international.jpg" alt="..." class="img-responsive">
							</a>
							<a href="http://www.fredonia.edu/internationaleducation/">
								<h3><b>International Students</b></h3>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
					<!-- GRADUATE -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/gradstudies/">
								<img src="http://www.fredonia.edu/admissions/images/landing/graduate.jpg" alt="..." class="img-responsive">
							</a>
							<a href="http://www.fredonia.edu/gradstudies/">
								<h3><b>Graduate Students</b></h3>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
					<!-- LIFELONG LEARNING -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/lifelong/">
								<img src="http://www.fredonia.edu/admissions/images/landing/international.jpg" alt="..." class="img-responsive">
							</a>
							<a href="http://www.fredonia.edu/lifelong/">
								<h3><b>Lifelong Learning</b></h3>
							</a>
							<hr>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3>Link</h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
				</div><!-- row -->
            </div><!-- yamm-content -->
        </li>
    </ul>
</li>