<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
    <ul class="dropdown-menu">
		<li>
        	<div class="yamm-content">
				<div class="row">
					<!-- More -->
		            <div class="col-md-3">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  	<div class="panel panel-default">
									<div class="panel-heading u-pointer" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#navFreshman" aria-expanded="false" aria-controls="navFreshman">
								  		<h4 class="panel-title">
									  		Freshman
									  		<span class="fa fa-angle-down pull-right"></span>
								  		</h4>
									</div><!-- panel-heading -->
									<div id="navFreshman" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								  		<div class="panel-body">
								  			<a href="http://www.fredonia.edu/admissions/freshmen.asp"><p>Admissions information</p></a>
											<a href="http://www.fredonia.edu/admissions/apply.asp"><p>How to Apply</p></a>
											<a href="http://www.fredonia.edu/admissions/visit.asp"><p>Visit us</p></a>
								  		</div><!-- panel-body -->
									</div><!-- panel-collapse collapse -->
							  	</div><!-- panel panel-default -->
							  	<div class="panel panel-default">
									<div class="panel-heading u-pointer" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTransfers" aria-expanded="false" aria-controls="collapseTransfers">
								  		<h4 class="panel-title">
									  		Transfer Students
									  		<span class="fa fa-angle-down pull-right"></span>
								  		</h4>
									</div><!-- panel-heading -->
									<div id="collapseTransfers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								  		<div class="panel-body">
								  			<p><a href="http://www.fredonia.edu/admissions/transfer.asp">Transfer information</a></p>
											<p><a href="/admissions/apply.asp">How to Apply</a></p>
											<p><a href="https://connect.fredonia.edu/yourconnection/FRD_TransArt.P_TransArt">Transfer Credit Guide</a></p>
											<p><a href="/admissions/accepted_transfers.asp">Accepted Students</a></p>
											<p><a href="/edp/">EOP Program</a></p>
											<p><a href="http://fredonia.smartcatalogiq.com/2014-2015/Catalog/Academic-Policies/Requirements-for-a-Second-Baccalaureate-Degree">Second Baccalaureate Students</a></p>
								 		</div><!-- panel-body -->
									</div><!-- panel-collapse collapse -->
							  	</div><!-- panel panel-default -->
							  	<div class="panel panel-default">
									<div class="panel-heading u-pointer" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseGraduate" aria-expanded="false" aria-controls="collapseGraduate">
								  		<h4 class="panel-title">
									  		Graduate Students
									  		<span class="fa fa-angle-down pull-right"></span>
								  		</h4>
									</div><!-- panel-heading -->
									<div id="collapseGraduate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								  		<div class="panel-body">
											<p><a href="http://www.fredonia.edu/gradstudies/">Graduate information</a></p>
								  		</div><!-- panel-body -->
									</div><!-- panel-collapse collapse -->
							  	</div><!-- panel panel-default -->
							  	<div class="panel panel-default">
									<div class="panel-heading u-pointer" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseInternational" aria-expanded="false" aria-controls="collapseInternational">
								  		<h4 class="panel-title">
									  		International Students
									  		<span class="fa fa-angle-down pull-right"></span>
								  		</h4>
									</div><!-- panel-heading -->
									<div id="collapseInternational" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								  		<div class="panel-body">
											<p><a href="/internationaleducation/iss/apply_freshmen.asp" target="_blank">Undergraduate Admissions</a></p>
											<p><a href="/internationaleducation/iss/apply_graduate.asp" target="_blank">Graduate Admissions</a></p>
											<p><a href="/internationaleducation/english_language.asp" target="_blank">English Language Center</a></p>
											<p><a href="/internationaleducation/iss/" target="_blank">International Student Services</a></p>
								  		</div><!-- panel-body -->
									</div><!-- panel-collapse collapse -->
							  	</div><!-- panel panel-default -->
							  	<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseLifelong" aria-expanded="false" aria-controls="collapseLifelong">
								  		<h4 class="panel-title u-pointer">
									  		Lifelong Learning
									  		<span class="fa fa-angle-down pull-right"></span>
								  		</h4>
									</div><!-- panel-heading -->
									<div id="collapseLifelong" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								  		<div class="panel-body">
											<p><a href="http://www.fredonia.edu/lifelong/" target="_blank">Lifelong Learning and Special Programs info</a></p>
								  		</div><!-- panel-body -->
									</div><!-- panel-collapse collapse -->
							  	</div><!-- panel panel-default -->
							</div><!-- panel-group -->
            		</div><!-- col-md-3 -->
            		
            		
				<!-- Apply -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/admissions/">
								<div class="crop">
									<img src="http://www.fredonia.edu/studentaffairs/images/advising.jpg" alt="..." class="img-responsive">
								</div><!-- crop -->
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3><b>Parents</b></h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
				<!-- Visit -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/admissions/">
								<div class="crop">
									<img src="http://www.fredonia.edu/admissions/images/landing/transfers.jpg" alt="..." class="img-responsive">
								</div><!-- crop -->
							</a>
							<a href="http://www.fredonia.edu/admissions/">
								<h3><b>Schedule a visit</b></h3>
							</a>
						</div><!-- thumbnail fred-menu -->
					</div><!-- col-md-2 -->
				<!-- Email Admissions -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/gradstudies/">
								<div class="crop">
									<img src="http://www.fredonia.edu/admissions/images/landing/graduate.jpg" alt="..." class="img-responsive">
								</div><!-- crop -->
							</a>
							<a href="http://www.fredonia.edu/gradstudies/">
								<h3><b>Questions? Email Admissions</b></h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
				<!-- Email Admissions -->
					<div class="col-md-2">
						<div class="thumbnail fred-menu">
							<a href="http://www.fredonia.edu/gradstudies/">
								<div class="crop">
									<img src="http://www.fredonia.edu/admissions/images/landing/graduate.jpg" alt="..." class="img-responsive">
								</div><!-- crop -->
							</a>
							<a href="http://www.fredonia.edu/gradstudies/">
								<h3><b>Email Admissions</b></h3>
							</a>
						</div><!-- thumbnail -->
					</div><!-- col-md-2 -->
					
				<!-- Email Admissions -->
					<div class="col-md-1">
						<button class="btn btn-sm btn-success">Option 1</button>
						<button class="btn btn-sm btn-success">Option 2</button>
						<button class="btn btn-sm btn-success">Option 3</button>

					</div><!-- col-md-1 -->
				</div><!-- row -->
            </div><!-- yamm-content -->
        </li>
    </ul>
</li>